body{
    font-family: arial;
    background-color: rgb(22, 21, 21);
}
h1{
    color: #fff;
    font-size: 300%;
}
h2{
    color: #fff;
    font-size: 200%;
}
.green{
    color: rgb(20, 131, 48);
    word-spacing: 0.2cm;
}
.white{
    color: #fff;
}
h3{
    color: #fff;
    font-size: 100%;
}